* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

* {

  box-sizing: border-box;
}

img {
  height: 70px;
}

header {
  background-image: url(./assets/pexels-canva-studio-3194521.jpg);
  background-size: cover;
  background-position: center;
  height: 45vh;
  margin-bottom: 30px;
}

.menu {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 5px black;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.title_menu {
  font-size: 2rem;
}

.navbar {
  display: flex;
}

.navbar a {
  color: black;
  margin: 10px;
  transition: 0.5s;
}

.navbar a:hover {
  text-shadow: 2px 2px 2px grey;
}

.menu-burger {
  display: none;
}


h1 {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

h2 {
  margin-bottom: 50px;
}
.container{
  width: 60%;
  margin:auto;
}
.container h3{

  margin: auto;
  width: 30%;
}

p {
  margin-bottom: 35px;
}

section {
  margin-bottom: 50px;
}

/*!   REGISTER  - LOGIN */
form {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  margin: auto;
}

form label {
  font-weight: bold;
  margin: 10px 0 5px;
}

form input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  line-height: 30px;
}

form input[type="submit"] {

  background-color: #387ae3;
  color: white;
  margin-top: 25px;
  border: none;
  height: 40px;
  font-size: 1.1em;

}

form div {

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}




/*!   SPACE   */

container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}

.space1 {
  width: 33%;
  height: 350px;
  background-image: url(./assets/blue-sea.jpg);
  background-size: cover;
  margin-bottom: 35px;

}

aside {

  width: 55%;
  height: 100%;
  background-color: rgba(22, 21, 88, 0.466);
  margin-left: auto;
  color: white;
  padding-left: 10px;


}


.title_space {
  color: rgb(247, 244, 244);
  margin: 0;
  padding-right: 10px;
  margin-bottom: 30px;
  font-size: 1rem;
  padding-top: 10px;
}

aside a {
  text-decoration: none;
  color: white;
  margin: auto;
  background-color: #387ae3;
  border-radius: 5px;
  text-align: center;
  font-size: 0.7rem;
  padding: 3px;
}

  /*Comment*/
  .open_space_img {
    width: 500px;
    height: 300px;
    margin: auto;
  }

  .space{
    max-width: 720px;
    margin: 30px auto 0;


  }
  .comments {
    max-width: 720px;
    margin: 30px auto 0;
    text-align: center;

  }

  .comments div {
    background-color: #f7f5f5;
    padding: 5px 10px;
    margin: 00 10px
  }

main{

  display: flex;
  flex-direction: column;
  justify-content: center;
}








/*!   MEDIA-QUERIES   */
@media screen and (max-width: 768px) {
  main {
    width: 600px;
    margin: auto;
  }

  .title_menu {

    font-size: 1.5rem;
  }

  .navbar {

    margin-top: -100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    background-color: rgba(202, 199, 199, 0.781);

    display: flex;
    flex-direction: column;

  }

  .menu-burger {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
  }

  i.fa-solid.fa-bars {
    font-size: 50px;
  }

  .navbar.mobile-menu {

    margin-top: 75px;

}
.container{
  width: 80%;
}
.container h3{
  width: 200px;
}





  .space1 {
    width: 48%;
  }

  aside {
    padding-left: 15px;
  }

  aside a {
    padding: 3px;
    text-align: center;
    font-size: 0.7rem;
  }




}

@media screen and (min-width : 1025px) {
  aside {
    padding-left: 15px;
  }


}

@media screen and (max-width: 530px) {
  main {
    width: 400px;
    margin: auto;
  }
  .open_space_img {
    width: 300px;
    height: 200px;
    margin: auto;
  }

  header {
    margin-bottom: 30px;
    height: 250px;
  }
  .container{width: 100%;} 
  .container h3{width: 200px;}

  i.fa-solid.fa-bars {
    font-size: 50px;
    margin-left: auto;
  }

  .navbar {

    margin-top: -100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    background-color: rgba(202, 199, 199, 0.781);
    display: flex;
    flex-direction: column;
  }

  .title_menu {

    font-size: 1rem;
  }

  .menu-burger {
    display: flex;
  }

  .navbar.mobile-menu {

    margin-top: 75px;
  }
  form{
    max-width: 400px;
  }

  .alert{
    max-width: 400px;
  }

  .space1 {
    width: 100%;
  }

  aside {
    padding-left: 20px;
  }

  aside a {
    font-size: 0.8rem;
  }

  .space2 {
    width: 100%;
  }
}

.alert {
  width: 520px;
  height: 50px;
  padding:15px 15px;
  margin: auto;

  font-size: 1.5rem;
  color: white;
  border-radius:15px;


}
.alert.success{
  background-color: rgb(11, 192, 56);
}
.alert.error{
  background-color: rgb(247, 43, 43);
}


